@import "./src/static/styles/variables";

.main-wrapper {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: $WhiteColor;

  &--container {
    height: 100%;
    width: 100%;
    max-width: 1300px;
  }
}