$DarkColor: #24292f;
$WhiteColor: #ffffff;
$ErrorColor: #d32f2f;
$BlueColor: #006eed;
$YellowColor: #f1ca1e;

@mixin displayCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin marginRightIndent {
  margin: 0 10px 0 0;

  &:last-child {
    margin: 0;
  }
}

@mixin transformHover {
  transform: scale(1.1);
  transition: 1s ease;
}

@mixin boxShadow {
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px $DarkColor;
}

