.post-manage {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 20px 0;

  &--item {
    margin: 0 15px 0 0;
    width: 150px;

    &:last-child {
      margin: 0;
    }
  }
}

