@import "./src/static/styles/variables";

.training-app {
  width: 200px;
  margin: 0 10px 10px 0;
  @include boxShadow;
  padding: 0 0 5px 0;

  &--item {
    display: flex;
    flex-direction: column;

    &--img {
      @include displayCenter;
      width: 100%;
      height: 100px;
      margin: 0 0 9px 0;
      background-color: $YellowColor;
      @include boxShadow;
      cursor: pointer;
      transition: 1s ease;

      &:hover {
        @include transformHover
      }
    }

    &--title {
      padding: 0 0 0 5px;
      cursor: default;
    }
  }
}
