@import "./src/static/styles/variables";

.home {
  margin: 20px 0;
  width: 100%;

  &--title {
    margin: 0 0 20px 0;
  }

  &--projects {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}